extends ../layout

block content
    section.content-header
        h1
            | KPI
            small Tempo Médio dos eventos
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li
                a(href='#')
                    i.fa.fa-pie-chart
                    | KPI's
            li.active
                i.fa.fa-clock-o
                |  Tempo Médio


    section.content
        .row
            .col-md-12
                .box
                    .box-header.with-border
                        h3.box-title Tempo médio Setor x Ciclo, por evento
                    .box-body
                        div(style='width: 100%; height: 500px').average-time-chart
        .row
            .col-md-6
                .box
                    .box-header.with-border
                        h3.box-title % de Presentes no total por nível
                    .box-body
                        div(style='width: 100%; height: 400px').average-time-chart-funnel
            .col-md-6
                .box
                    .box-header.with-border
                        h3.box-title % de Prentes do ciclo
                    .box-body
                        div(style='width: 100%; height: 400px').average-time-chart-cycle



block scripts
    script(src='/bower_components/echarts/echarts.min.js')
    script(src='/js/pages/average-time.js')
