footer.main-footer
    .pull-right.hidden-xs
        b Version
        |  1.0.0
    strong
        | Copyright © 2017
        | Todos os direitos reservados ao Grupo 04 - Vulgo Campeão
        | .
    |  Todos os direitos
    | reservados.
