header.main-header
    // Logo
    a.logo(href='/')
        // mini logo for sidebar mini 50x50 pixels
        span.logo-mini
            b S
            | AP
        // logo for regular state and mobile devices
        span.logo-lg
            b S
            | AP
    // Header Navbar: style can be found in header.less
    nav.navbar.navbar-static-top
        // Sidebar toggle button
        a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-custom-menu
            ul.nav.navbar-nav
                // User Account: style can be found in dropdown.less
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                        img.user-image(src='/img/user2-160x160.jpg', alt='User Image')
                        span.hidden-xs Pedro
                    ul.dropdown-menu
                        // User image
                        li.user-header
                            img.img-circle(src='/img/user2-160x160.jpg', alt='User Image')
                            p
                                | Pedro - GND
                                small Membro desde 2011
                        // Menu Footer
                        li.user-footer
                            .pull-left
                                a.btn.btn-default.btn-flat(href='#') Perfil
                            .pull-right
                                a.btn.btn-default.btn-flat(href='#') Sair
