extends layout

block content
    section.content-header
        h1
            | Dashboard
        ol.breadcrumb
            li.active
                a(href='#')
                    i.fa.fa-dashboard
                    |  Dashboard


